<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modnsolutions.theatre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EpisodeActivity"
            android:label="@string/episodes_label"
            android:parentActivityName=".EpisodeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EpisodeActivity" />
        </activity>
        <activity
            android:name=".TheatreTVShowDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TheatreMovieDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WatchlistActivity"
            android:label="@string/action_watchlist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/action_favorite"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/label_search"
            android:theme="@style/AppTheme.Extension">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".TVShowEpisodesActivity"
            android:label="@string/label_episodes"
            android:parentActivityName=".TVShowsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TVShowsDetailsActivity" />
        </activity>
        <activity
            android:name=".TVShowsDetailsActivity"
            android:parentActivityName=".TVShowsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modnsolutions.theatre.TVShowsActivity" />
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modnsolutions.theatre.MainActivity" />
        </activity>
        <activity
            android:name=".TVShowsActivity"
            android:label="@string/toolbar_tv_shows"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/toolbar_movies"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
    </application>

</manifest>